* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #85aedd;
  font-family: "Indie Flower", cursive;
}

.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
  grid-area: navbar;
  background-color: #afd6af;
  font-family: "Indie Flower", cursive;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(226, 43, 43);

   
}

.sidebar >div{
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.main {
  grid-area: main;
  background-color: rgb(245, 245, 245);
}

.main >div{
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
  font-family: "Indie Flower", cursive;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  90px
    "navbar"  40px
    "main"    auto
    "sidebar" auto
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
   
    grid-template:
      "header  header" 70px
      "navbar  navbar" 50px
      "main    sidebar"   auto
      "footer  footer" 100px /
      auto    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  70px
      "navbar  main   sidebar" auto
      "footer  footer footer"  70px /
      100px    auto   auto;
    
    
  }
}

.navbar > a {
  a:hover{
  background-color: rgb(245, 245, 245);
  color: #ffffff;
 }
}
 .imagen{
  padding: 10px;
 }

 article > div{
 background-color: white;
  vertical-align: middle;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
   
 }

 .prod{
  margin: 5px;

 }

h6{
  font-family: sans-serif;
  color: burlywood;
  font-size: 20px;
}

